<div [formGroup]="form" [ngSwitch]="bullet.type">
  <div *ngSwitchCase="Type.TEXT" fxLayout="row" fxLayoutAlign="center center">
    <textarea
      #blt
      cdkTextareaAutosize
      class="border-0"
      formControlName="textBulletField"
    ></textarea>
  </div>
  <div *ngSwitchCase="Type.LIST" fxLayout="column">
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      [ngSwitch]="bullet.data.style"
    >
      <div *ngSwitchCase="List.UNORDERED" class="list list--icon"></div>
      <div *ngSwitchCase="List.NUMBERED" class="list">
        {{ bullet.data.listOrder }}.
      </div>
      <mat-checkbox
        *ngSwitchCase="List.CHECK"
        formControlName="todoBulletField"
      ></mat-checkbox>
      <textarea
        #blt
        cdkTextareaAutosize
        class="border-0"
        formControlName="textBulletField"
      ></textarea>
    </div>
    <div *ngIf="!!bullet.data?.items">
      <app-bullet-list [bullets]="bullet?.data?.items"></app-bullet-list>
    </div>
  </div>
  <div *ngSwitchDefault>
    <textarea
      #blt
      cdkTextareaAutosize
      class="border-0 mat-h1"
      formControlName="textBulletField"
    ></textarea>
  </div>
</div>

<!-- (keydown)="onKeydown($event)" -->
