<div [formGroup]="form" [ngSwitch]="bullet.type.name">
  <div *ngSwitchCase="Type.TEXT" fxLayout="row" fxLayoutAlign="center center">
    <textarea
      #bullet
      cdkTextareaAutosize
      class="border-0"
      formControlName="textBulletField"
    ></textarea>
  </div>
  <div *ngSwitchCase="Type.UNORDERED_LIST">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="list-icon"></div>
      <textarea
        #bullet
        cdkTextareaAutosize
        class="border-0"
        formControlName="textBulletField"
      ></textarea>
    </div>
  </div>
  <div *ngSwitchCase="Type.TODO_LIST">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-checkbox formControlName="todoBulletField"></mat-checkbox>
      <textarea
        #bullet
        cdkTextareaAutosize
        class="border-0"
        formControlName="textBulletField"
      ></textarea>
    </div>
  </div>
  <div *ngSwitchDefault>
    <textarea
      #bullet
      cdkTextareaAutosize
      class="border-0 mat-h1"
      formControlName="textBulletField"
    ></textarea>
  </div>
</div>

<!-- (keydown)="onKeydown($event)" -->
