app-bullet {
  width: 100%;
  // flex-grow: 1;
}

::ng-deep.mat-list-base {
  padding: 0;
  .mat-list-item {
    &.bullet-list-item {
      height: auto;
      
      .mat-list-item-content{
        padding: 0 26px;
      }
    }
  }
}
